# Python相关忽略规则
__pycache__/
*.py[cod]
*$py.class

# 环境配置文件
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE相关忽略规则
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# 操作系统生成的文件
.DS_Store
Thumbs.db

# 日志文件
*.log

# 数据文件
data/library_data.json
data/user_data.json

# 单元测试结果
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# build
build/docker/